* {
  margin: 0px;
  padding: 0px;
}

.bloque1 {
  background-color: cyan;
  width: 100px;
  height: 500px;
}

.bloque2 {
  background-color: darkblue;
  width: 100px;
  height: 500px;
}

.bloque3 {
  background-color: darkorange;
  width: 100px;
  height: 500px;
}

.bloque1,
.bloque2,
.bloque3 {
  text-align: center;
}

section {
  display: flex;
}
